@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color:white;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  color: white;
  font-family: 'Bowlby One SC', cursive;

}

.App {
    font-family: 'Bowlby One SC', cursive;
    text-align: center;
    padding: 0 4rem;
    max-width: 95%;
    margin: 0 auto;
    color: lightgray;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:black;
    font-size: 5rem;
  }
  h1 {
    text-align: left;
    color:black;
  }

  .todo-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }


.item {
    
    font-size: 5rem;
    width: 45%;
    text-align: left;
    margin: 1% 0;
    padding-left: 8px;
    padding: 2%;
    cursor: pointer;
  }

  .itemcompleted {
    color: black;
    text-decoration: line-through;
    text-align: left;
    font-size: 5rem;
    padding-left: .8rem;
    padding: 2%;
    width: 45%;
    margin: 1% 0;
  }

  form {
    width: 100%;
    display: flex;
    justify-content: flex-end;

  }
form > input {
    background-color:black;
    border-width: 5px;
    border-style: outset;
    border-color: red;
    font-size: 3.5rem;
    width: 70%;
    outline: 0;
    color: white;
    margin-right: 1 rem;
    padding: 3%;
    font-family: 'Bowlby One SC', cursive;

  }

  .form{
    background-color: slategray;
    height: 35%;
    padding: 8%;
    border-width: 5px;
    border-style: outset;
    border-color: silver;

  }

  .clear-button{
    background-color: gray;   
    display: flex;
    color: white;
    font-size: 3rem;
    margin:20%;
    padding: .5rem 1.5rem;
    font-family: 'Bowlby One SC', cursive;
    border-width: 5px;
    border-style: outset;
    border-color: silver;
}
  
  .add-button{
      margin-left: 5%;
      background-color: gray;
      display: flex;
      color: white;
      font-size: 3rem;
      padding: .5rem 1.5rem;
      font-family: 'Bowlby One SC', cursive;
      border-width: 5px;
      border-style: outset;
      border-color: silver;
  }


